<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="encording">
<title>在庫タイトル編集画面</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	
	<header th:replace="~{admin/header}"></header>
	<div th:if="${errorList}"} >
		<ul class="error">
			<li th:each="err:${errorList}" th:text="${err}"></li>
		</ul>
	</div>
	
	<h2>在庫タイトル編集画面です</h2>
	
	<form th:action="'/admin/rentalcontrol/inventory/detail/title/'+${itemTitle.id}" method="post">
		<table border="1">
			<tr>
				<th>タイトル変更</th>
				<td>
					<input type="text" name="name" th:value="${itemTitle.name}" required>
				</td>
			</tr>
			<tr>
				<th>あらすじ</th>
				<td>
					<input type="text" name="summary" th:value="${itemTitle.summary}">
				</td>
			</tr>
		</table>
		<br>
		<button type="submit">更新</button>
	</form>
	<br>
	<form action="/admin/rentalcontrol/inventory" method="get">
		<button type="submit">在庫管理画面へ</button>
	</form>

</body>
</html>