<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<title>管理者ログイン</title>
</head>
<body>
	<h1>管理者ログイン</h1>
	
	<span th:each = "error:${errorList}" th:utext = "${error}" style = "color:red" ></span>
	
	<form action="/admin/login" method="post">
		<input type="email" name="email" placeholder="メールアドレス" th:value="${email}"><br>
		<input type="password" name="password" placeholder="パスワード"><br>
		<button>ログイン</button>
	</form>

	<a href="/login">ユーザログインへ戻る</a>
</body>
</html>