<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>会員管理</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

	<header th:replace="~{admin/header}"></header>
	<div th:if="${errorList}" }>
		<ul class="error">
			<li th:each="err:${errorList}" th:text="${err}"></li>
		</ul>
	</div>

	<h1>貸出管理</h1>
	<table border="1">
		<tr>
			<th>ユーザー</th>
			<th>アイテム名</th>
			<th>アイテムID</th>
			<th>貸出日</th>
			<th>返却期限</th>
			<th>返却日</th>
			<th>貸出状態</th>
			<th>ぴゃー</th>
		</tr>
		<tr th:each="rental:${rentaling}">
			<td th:text="${rental.userName}"></td>
			<td th:text="${rental.itemTitleName}"></td>
			<td th:text="${rental.itemId}"></td>
			<td th:text="${rental.rentalDate}"></td>
			<td th:text="${rental.closingDate}"></td>
			<td><span th:text="${rental.returnDate}"></span></td>
			<td th:text="${rental.statusStr}"></td>
			<td>
				ぴゃー
			</td>
		</tr>
	</table>



</body>

</html>