<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="encording">
<title>会員管理画面</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>《貸出管理画面》</h1>
	<br>
	<form action="/admin/rentalcontrol/reserve" method="get">
		<button type="submit">予約一覧画面へ</button>
	</form>
	<br>
	<br>
	<form action="/admin/rentalcontrol/reserved" method="get">
		<button type="submit">予約取り置き画面へ</button>
	</form>
	<br>
	<form action="/admin/rentalcontrol/inventory" method="get">
		<button type="submit">在庫管理画面へ</button>
	</form>
	<br>

</body>
</html>