<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>会員管理</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/style.css">

<body>
	
	<header th:replace="~{admin/header}"></header>
	<div th:if="${errorList}"} >
		<ul class="error">
			<li th:each="err:${errorList}" th:text="${err}"></li>
		</ul>
	</div>
	
	<h1>会員管理</h1>

	<form action = "/admin/usercontrol/newuser" method = "get">
	<button>新規会員登録</button>
	</form>

	<form action = "/admin/usercontrol/user" method = "get">
	<button>会員一覧</button>
	</form>

	
	
	<form action = "/admin/usercontrol/overdueuser" method = "get">
	<button>延滞者管理</button>
	</form>

	
	
</body>

</html>