/* 全体 */
body {
	background-color: rgb(255, 255, 255); /* 背景色  */
	text-align: center; /* 中央寄せ */
    min-width: 900px; /* 最小幅 */
}
/* ヘッダー、ナビゲーションメニュー、フッター */
header, nav, footer {
	/* 背景色 */
	color: rgb(0, 0, 0); /* 文字色 */
	padding-top: 5px; /* 内側余白(上) */
	padding-bottom: 5px; /* 内側余白(下) */
}
/* ヘッダー、ナビゲーション内リンク */
header a, nav a {
	color: rgb(0, 0, 0);
}
/* ヘッダー内見出し */
header h1 {
	font-size: 20pt;
	margin: 10px auto;
	text-align:"center";
}
/* 仕切り線 */
hr {
	border-top: 2px solid rgb(0, 128, 128);
}
/* メイン */
main {
	background-color: #FFFFFF;
	min-height: 50px;
	padding: 20px;
}
/* 表線 */
table, th, td {
	border-collapse: collapse;
	border: 1px solid rgb(0, 0, 0);
}
/* 表 */
table {
    margin: 5px auto;
    min-width: 800px;
}

/* 四角の作成 */
.rectangle {
  width: 100px;
  height: 30px;
  border: 2px solid black;
}

/* 表見出しセル */
table th {
	background: rgb(0, 128, 128);
	color: #ffffff;
}
/* 送信ボタン */
button {
	margin: 2px;
	padding: 5px 20px;
	background-color: rgb(0, 128, 128);
	color: rgb(255, 255, 255);
	border: none;
	width:150px;
	cursor: pointer;
	border-radius:15px;
}
/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: rgb(131, 222, 218);
}
ul {
  list-style: none;
  padding-left: 0em;
}


/* テキストボックス */
.RoundedCornerTextBox {
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  border-radius:0.5rem;
  border:2px solid #606060;
   width: 30%;
}



/* モーダルウィンドウのスタイル */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 400px;
    }
    .modal-header {
        padding: 2px 16px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
    .modal-footer {
        padding: 10px 16px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        text-align: center;
/*        display: flex;*/
/*    	flex-direction: row;*/
    }
    .close {
        color: rgb(0, 0, 0);
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: rgb(128, 128, 128);
        text-decoration: none;
        cursor: pointer;
    }
    .modalClose {
        float: right;
        font-size: 28px;
        font-weight: 800;
	}
	
/*ヘッダー見出しリンク*/
	.header1 {
		float: right;
		font-family: "IBM Plex Sans JP", sans-serif;
		font-weight: 400;
	  	font-style: normal;
	}
	
	/*エラー*/
	.error{
		color: red;
	}
	
	/*アコーディオンメニューのCSS*/
.details {
	height: 71px;
	transition: all ease-in-out .3s;
	border-left: 2px solid #00a5a0;
	border-right: 2px solid #00a5a0;
	box-sizing: border-box;
	&:last-of-type {
		border-bottom: 2px solid #00a5a0;
	}
}
.details[open] {
	height: 300px;
	background-color: #bee1de;
}
.details-summary {
	display: block;
	padding: 20px;
	border-top: 1px solid rgb(138, 215, 162);
	font-size: 20px;
	font-weight: bold;
	transition: all ease-in-out .3s;
	&:hover {
		cursor: pointer;
		background-color: #bee1de;
	}
}
.details-summary::-webkit-details-marker {
	display: none;
}
.details-content {
	margin: 0 20px 20px;
	padding: 20px;
	height: 180px;
	overflow: hidden;
	overflow-y: auto;
	background-color: #fff;
}

.details[open] .details-content {
  	animation: fadeIn .3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px); 
  }
  100% {
    opacity: 1;
    transform: none;
  }
}


 /* 要素の囲い */.box {
border: #4e7bcc 1px solid; /*境界線の指定*/
padding:10px;
}
.box p {
margin:0;
padding:0;
}