<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<title>会員新規登録</title>
</head>
<body>
	<header th:replace="header"></header>

	<button type="button" onclick="history.back()">ホームページに戻る</button>
	<h1>会員登録</h1>
	
	<span th:each = "error:${errorList}" th:utext = "${error}" style = "color:red" ></span>
	<form action="/login/newuser" method="post">
		<table>
			<tr>
				<th>氏名</th>
				<td><input type="text" name="name" th:value="${name}"></td>
			</tr>
			<tr>
				<th>住所</th>
				<td><input type="text" name="address" th:value="${address}"></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td><input type="text" name="tel" th:value="${tel}"></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><input type="email" name="email" th:value="${email}"></td>
			</tr>
			<tr>
				<th>生年月日</th>
				<td><input type="date" name="birthday" th:value="${birthday}"></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type="password" name="password"></td>
			</tr>
		</table>
		<button>登録</button>
	</form>
	<a href="/library">メインページに戻る</a>
</body>
</html>