<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>詳細</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>詳細</h1>
	<table border="1">
	    <tr><th>ID</th><td th:text="${item.id}"></td></tr>
	    <tr><th>本のタイトル</th><td th:text="${item.name}"></td></tr>
	    <tr><th>著者名</th><td th:text="${item.author}"></td></tr>
	    <tr><th>出版社</th><td th:text="${item.publisher}"></td></tr>
	    <tr><th>出版日</th><td th:text="${item.publicationDate}"></td></tr>
	    <tr><th>あらすじ</th><td th:text="${item.summary}"></td></tr>
	    <tr><th>カテゴリー番号</th><td th:text="${item.categoryId}"></td></tr>
	    <tr><th>サブカテゴリー番号</th><td th:text="${item.subCategoryId}"></td></tr>
	</table>
</body>
</html>