<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<title>会員ログイン</title>
</head>
<body>
	<header>
		<a href="/library"><img th:src="@{/image/reskill.png} " width="420" height="120"></a>
		<br>
		
	<hr>
		<span><a href="/login/newuser">新規登録</a></span>
	</header>
	
	<hr>
	
	<div class="wrapper">
		
	<h1>会員ログイン</h1>
	
	<th:block th:each="error:${errorList}">
		<div th:text="${error}"></div>
	</th:block>
	
	<form action="/login" method="post">
		<input type="email" name="email" placeholder="メールアドレス" th:value="${email}"><br>
		<input type="password" name="password" placeholder="パスワード"><br>
		<button>ログイン</button>
	</form>
	
	<a href="/library">メインページへ戻る</a><br>
	<a href="/admin/login">管理者ログインはこちら</a>
	<div class="bottom">
	<footer th:replace="userFooter"></footer>
	</div>
</div>

</body>
</html>