<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<title>メインページ</title>
</head>
<body>
	<header th:replace="header"></header>
<!--	未ログイン時に表示		-->
	<th:block th:if="${@account.name} == null">
		<span><a href="/login/newuser">新規登録</a></span>
		<span><a href="/login">ログイン</a></span>
	</th:block>
	
	
<!--	ログインした時用に表示	-->
	<th:block th:if="${@account.name}">
		<span><a href="/login/mypage">マイページ</a></span>
		<span><a href="/logout">ログアウト</a></span>
	</th:block>
	
	<br>
	
<!--	検索エラー文	-->
	<th:block th:text="${error}"></th:block>

<!--	検索欄		-->
	<form action="/library/search" method="get">
		<input type="text" name="keyword" placeholder="フリーワード検索">
		<button>検索</button>
	</form>
	
	<br>
	<form action="/library/search" method="get">
		<table border="1">
			<tr>詳細検索</tr>
			<tr>
				<th>タイトル</th>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<th>著者</th>
				<td><input type="text" name="author"></td>
			</tr>
			<tr>
				<th>出版社</th>
				<td><input type="text" name="publisher"></td>
			</tr>
			<tr>
				<th>カテゴリー</th>
				<td>
					<select name="categoryId" size="1">
						<option value="0" label="選択なし" selected></option>
						<option th:each="category:${categories}" th:value="${category.id}">[[${category.name}]]</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>サブカテゴリー</th>
				<td>
					<select name="subCategoryId" size="1">
						<option value="0" label="選択なし" selected></option>
						<option th:each="subCategory:${subCategories}" th:value="${subCategory.id}">[[${subCategory.name}]]</option>
					</select>
				</td>
			</tr>
		</table>
		<button>検索</button>
	</form>
</body>
</html>