
	<header>
		<div>
		<a href="/library"><img src="image/reskill.png " align="left" width="300" height="80"></a>
		
		
	<!--	未ログイン時に表示		-->
	<th:block th:if="${@account.name} == null">
	<span class="header1" th:text="'こんにちは　ゲスト　さん'"></span>
	<br>
	<div style="text-align: right;">
	<span><a href="/login/newuser">新規登録</a></span><br>
	<span><a href="/login">ログイン</a></span>
	</div>
	</th:block>


	<!--	ログインした時用に表示	-->
	
	<th:block th:if="${@account.name}">
	<span class="header1" th:text="'こんにちは　'+${@account.name}+'　さん'"></span>
	<br>
	<span><a href="/login/mypage">マイページ</a></span>
	
		
		<br>
		 <a href="#" id="logoutButton" class="header1">ログアウト</a>
		<br>
	</th:block>
	</header>
	
<!--	 モーダルウィンドウ -->
    <div id="logoutModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" id="closeModal">&times;</span>
                <h2>確認</h2>
            </div>
            <div class="modal-body">
                <p>本当にログアウトしますか？</p>
            </div>
            <div class="modal-footer">
                <button id="confirmLogout">ログアウト</button>
                <button id="cancelLogout">キャンセル</button>
            </div>
        </div>
    </div>
	
	 <script type="text/javascript">
        document.getElementById('logoutButton').onclick = function() {
            document.getElementById('logoutModal').style.display = "block";
        };

        document.getElementById('closeModal').onclick = function() {
            document.getElementById('logoutModal').style.display = "none";
        };

        document.getElementById('cancelLogout').onclick = function() {
            document.getElementById('logoutModal').style.display = "none";
        };

        document.getElementById('confirmLogout').onclick = function() {
            window.location.href = "/logout";
        };

        window.onclick = function(event) {
            if (event.target == document.getElementById('logoutModal')) {
                document.getElementById('logoutModal').style.display = "none";
            }
        };
    </script>
