<footer>
	<div class = footer>
	<hr>
	リスキル図書館<br>
	<a href="https://x.com/elonmusk" target="_blank"><img th:src="@{/image/twitter.png}" width="30" height="30"></a>
	<a href="https://www.instagram.com/leomessi/" target="_blank"><img th:src="@{/image/instagram.png}" width="30" height="30"></a>
	<a href="https://www.youtube.com/channel/UCXcjvt8cOfwtcqaMeE7-hqA" target="_blank"><img th:src="@{/image/youtube.png}" width="30" height="32"></a>
	<br>
	<small>Copyright © Reslill Library.All rights reserved.</small>
	</div>
</footer>